[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
configobj = "~=5.0.6"
numpy = "~=1.21"
pandas = "~=1.2.4"
scipy = "~=1.6.3"
requests = "~=2.20.0"
gcamreader = ">=1.2.5"

[dev-packages]

[requires]
python_version = "3.8"
