configobj~=5.0.6
numpy~=1.21
pandas~=1.2.4
scipy~=1.6.3
requests~=2.20.0
gcamreader>=1.2.5
build~=0.5.1
nbsphinx~=0.8.6
setuptools~=57.0.0
sphinx~=4.0.2
sphinx-panels~=0.6.0
sphinx-rtd-theme~=0.5.2
sphinx-mathjax-offline~=0.0.1
twine~=3.4.1